:root {
    --white: #FFFFFF;
    --black: #000000;
  
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-2:#6dca79;
    --grey-background: #f3f3f3;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
  }
  
  
  .skeleton{
    background-color: var(--grey-background);
    animation-name: skeleton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .skeleton-delay{
    animation-delay: 1.08s;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    position: relative;
  }
  .icon_mobile-menu {
    display: none;
  }
  .mobile-menu {
    width: 100%;
    height: 100vh;
    padding: 24px;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: var(--white);
    transition: transform .2s ease-in;
    z-index: 3;
   
  }
  
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
    cursor: pointer;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
  
  
  .logo {
    width: 100px;
    cursor: pointer;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
  }
  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
   
  }
  .navbar-shopping-cart {
    cursor: pointer;
    position: relative;
  }
  .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .desktop-menu {
    position: absolute;
    z-index: 3;
    right: 59px;
    top: 62px;
    width: 100px;
    height: auto;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    box-shadow: 0px 0px 400px 2000px rgba(0,0,0,0.25);
    transition: opacity 1s, visibillity .6s ease-in-out;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    transition: trasnform .7s;
  }
  .desktop-menu ul li a:hover{
    transform: scale(1.05);
  }
  
  /* aside (product detail--list) */
  .list-product--detail {
    width: 360px;
    
    padding: 0 24px 20px;
    box-sizing: border-box;
    background-color: var(--white);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 400px 2000px rgba(0,0,0,0.25);
    transition: opacity 1s, visibillity .6s ease-in-out;
  }
  
  .title-container {
    display: flex;
    cursor: pointer;
  }
  .title-container:hover{
    color: #a3b5a5;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .cart-orders{
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 290px; 
   }
   .cart-orders::-webkit-scrollbar{
    width: 7px;
    
    /* background-color: var(--white); */
    
  }
  .cart-orders::-webkit-scrollbar-thumb{
    background-color: var(--hospital-green);
    border-radius: 10px;
    cursor: pointer;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    /* position: absolute; */
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 5px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart img:hover{
    transform: scale(1.06);
    cursor:pointer;
    
  }
  
  .shopping-cart p {
    color: var(--very-light-pink);
  }
  .shopping-cart div {
    display: flex;
  }
  .shopping-cart div p{
    font-size: var(--md);
    font-weight: bold;
    color: #000000;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    transition: all .3s ease-in-out;
  }
  .product-detail .primary-button:hover{
    background-color: rgb(218, 218, 218);
    color: var(--hospital-green);
    transform: scale(1.05);
  }
  .btnDelteProdut{
    transition: transform 0.3s ease-in;
  }
 

  
  .btnDelteProdut:hover{
    transform: scale(1.3);
    cursor: pointer;
    background-color: rgb(0, 0, 0);
  }
    /* product detail */
    .product-detail {
      width: 360px;
      padding-bottom: 24px;
      position: fixed;
      top: 30px;
      right: 0;
      left: 0;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 20px;
      z-index: 3;
      background-color: var(--white);
      box-shadow: 0px 0px 400px 2000px rgba(0,0,0,0.25);
    }
    .product-detail-close {
      background: var(--white);
      width: 14px;
      height: 14px;
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 2;
      padding: 12px;
      border-radius: 50%;
      box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .product-detail-close:hover {
      cursor: pointer;
      background-color: rgb(32, 68, 15);
    }
    .product-detail > img:nth-child(2) {
      width: 90%;
      object-fit: cover;
      margin: 5px  13px 0 13px;
      border-radius: 10px
      ;
    }
    .product-detail .product-info {
      margin: 24px 24px 0 24px;
      flex-direction: column;
      align-items: flex-start;
    }
    .product-detail .product-info p:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 4px;
    }
    .product-detail .product-info p:nth-child(2) {
      color: var(--very-light-pink);
      font-size: var(--md);
      margin-top: 0;
      /* margin-bottom: 36px; */
    }
    .product-detail .product-info p:nth-child(3) {
      color: var(--very-light-pink);
      font-size: var(--sm);
      margin-top: 0;
      margin-bottom: 10px;
    }
    .product-detail .primary-button {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
    }
    .product-detail .primary-button:active{
      background-color: #a3b5a5;
    }
    .add-to-cart-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /*  styles alert add to car */
    .container-alert-AddToCar{
      position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    .container-alert-AddToCar .container-alert{
      width: 300px;
      display: flex;
      background-color: white;
      justify-items: center;
      flex-direction: column;
      border-radius: 15px;
      
      box-shadow: 0px 0px 400px 2000px rgba(0,0,0,0.25);
    }
    .container-alert span{
      font-size: var(--md);
      color: var(--back);
      display: inline;
      padding: 20px;
      
    }
    .container-alert span p{
      margin: 0;
      color: var(--hospital-green);
    }
    .container-alert button{
      background-color: var(--hospital-green);
      color: var(--white);
      border: none;
      border-radius: 5px;
      font-size: var(--lg);
      cursor: pointer;
      padding: 5px 0;
      width: 50%;
      margin: 5px auto;

    }
    .container-alert button:hover{
      background-color: #c3d6c5;
    }
    .main-container{
      position: relative;
    }
    .main-title{
      font-size: 1.1rem;
      margin-bottom: 0;
      padding-left: 10px;
      width: fit-content;
      color: var(--back);
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);

    }
    .main-btn{
      display: flex;
      justify-content: flex-end;
      margin-right: 25px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .main-btn button{
      border: none;
      background-color: var(--hospital-green-2);
      color: var(--white);
      border-radius: 5px;
      font-size: 1.1rem;
      cursor: pointer;
    }
    .main-btn button:hover{
      background-color: var(--hospital-green);
      /* color:  var(--hospital-green-2); */
    }
    .main-arrow{
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 2;
      bottom: 35%;
      cursor:pointer;
      

    }
    .main-arrow:hover i{
      transform: scale(1.2);
    }
    .main-arrow--left{
      left: 35px;
    }
    .main-arrow--right{
      right: 35px;
    }
   
  .cards-container {
    /* width: 100%; */
    padding-inline-start: 10px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    white-space: nowrap;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(175,175,175,0.905824566154587) 2%, rgba(175,175,175,0) 8%, rgba(175,175,175,0) 87%, rgba(175,175,175,0.9011846975118172) 98%, rgba(108,104,240,1) 7041%);
  }
  .cards-container::-webkit-scrollbar{
    height: 5px;
    
    /* background-color: var(--white); */
    
  }
  .cards-container::-webkit-scrollbar-thumb{
    background-color: var(--hospital-green);
    border-radius: 10px;
    cursor: pointer;
  }
  .product-card--charge{
    
    height: 290px;
    
    
  }
  .product-card {
    width: 240px;
    margin: 0 10px 10px 10px;
    scroll-snap-align: center;
    /* position: relative; */
  }
  .cards-container .product-card .imageContainer{
   width: 190px;
   
  }
  .product-card .imageContainer{
    height: 150px;
    padding: 10px;
  }
  .product-card .imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: contain;
    cursor: pointer;
    transition: all  .2s ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  }
  .product-card .imageContainer:hover img{
    transform: scale(1.1);
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-inline-start: 5px;
    padding: 7px;
  }
  .product-info figure {
    margin: 0;
  }
  
  .product-info figure img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: trasnform .3s ease-in;
  }
  .product-info figure img:hover{
    transform: scale(1.2);
  }

  
  
  
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }

  /*styles Categories*/
  .categories{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: var(--very-light-pink) solid 1px;
  }
  .categories-title{
    color: var(--back);
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
  }
  .categories-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .categorie-card{
    margin: 10px 10px;
    min-width: 280px;
    max-width: 350px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--grey-background);
  }
  .categorie-card--charge{
    height: 320px;
  }
  .categorie-card--title{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: start;
    padding-left: 10px;
  }
  .categorie-card--img{
    width: 90%;
    /* height: 300px; */
    margin: 0 auto;
  }
  .categorie-card--img img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.75);
  }

  .categorie-card--btn{
    border: none;
    margin: 10px auto;
    background-color: var(--hospital-green-2);
    color: var(--white);
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    display: flex;
  }
  .categorie-card--btn:hover{
    background-color: var(--hospital-green);
    cursor: pointer;
  }
  /* styles products All */
  .productosAll{
    margin-top: 30px;
    width: 100%;
  }
  .productosAll-headerArrow{
    margin-left: 40px;
    transition: transform .2s ease;
  }
  .productosAll-headerArrow i:hover{
    transform: scale(1.2);
    cursor: pointer;
  }

.produtsAll-header--title{
  padding-left: 40px;
  width: fit-content;
}
.header--title{
  color: var(--back);
  background: #FFFFFF;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}
.container-productsAll{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* arrouUp */
.container-ArrowUp{
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--hospital-green-2);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: 50px;
  cursor: pointer;
}
.container-ArrowUp:hover{
  background-color: var(--hospital-green);
}
/* footer */
footer{
  width: 100%;
  background-color: var(--hospital-green);
  margin-top: 20px;
  padding-block-end: 20px;
}
.footer-container{
  display: flex;
 align-items: center;
  flex-direction: column;
}
.footer-container--made p{
  color: var(--white);
  font-size: var(--lg);
}
.footer-container--about ul{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 10px auto;
  padding: 0;
  
}
.footer-container--about ul a {
  margin: 0 10px;
}
  @media (max-width: 640px) {
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 200px;
      margin-top: 10px;
    }
    .main-arrow--left{
      left: 0;
    }
    .main-arrow--right{
      right: 0;
    }
    .product-info div{
      width: 75%;
      height: 60px;
      
    }
    .product-info div :nth-child(2){
      /* overflow-x: auto; */
      overflow-y: hidden;
      height: 25px;
      
    }
    .product-info div :nth-child(2)::-webkit-scrollbar{
      height: 5px;
      
    }

    .product-info div :nth-child(2)::-webkit-scrollbar-thumb{
      background-color: var(--hospital-green);
      border-radius: 10px;
    }
   
    .product-card img {
      width: 200px;
      height: 140px;
      word-break: break-all;
    }
  }
  
  
  @media (max-width: 737px) {
    .icon_mobile-menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    .desktop-menu {
      display: none;
    }
    .list-product--detail {
      width: 100%;
    }
    .product-detail {
      width: 90%;
    }
    .product-info figure img:active{
      transform: scale(1.1);
    }
  }
  @media (min-width: 641px){
    /* .mobile-menu{
      display: none;
    } */
    .product-info figure img:hover{
      transform: scale(1.1);
    }
    
  }
  .inactiveSection{
    display: none;
  }
  .inactive-product--card{
    opacity: 0;
    /* visibility: hidden; */
  }
  .inactive{
    opacity: 0;
    visibility: hidden;
  }

  .inactive_mobile-menu{
    transform: translateX(-100%);
   
    
  }
  .inactive_listProductDetail{
    opacity: 0;
    visibility: hidden;
  }

/* keyFrame window charge */
@keyframes skeleton {
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}